.catalog {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 200px);
  gap: 48px;

  max-width: 944px;
  margin: 0 auto;

  &__card {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

@each $breakpoint, $number in $breakpoints {
  @media screen and (max-width: $breakpoint) {
    .catalog {
      grid-template-columns: repeat(#{$number}, 200px);
    }
  }
}
